- name: install haproxy
  kewlfft.aur.aur:
    name: haproxy
    state: present
  become: true
  become_user: aur_builder

- name: copy haproxy configuration
  synchronize:
    src: ./etc/haproxy/{{ item }}
    dest: /etc/haproxy/{{ item }}
    rsync_opts:
    - "--chown=root:root"
  become: true
  with_items:
    - haproxy.cfg
    - crt-list.txt

# HAProxy requires you either combine public and private key
# or relies on naming convention to find key, this creates a symlink
# to fit HAProxy naming convention
- name: Symlink certificates
  ansible.builtin.file:
    src: /etc/ssl/{{ item }}/{{ item }}.key
    dest: /etc/ssl/{{ item }}/{{ item }}.pem.key
    state: link
  become: true
  with_items:
  - uptime.ocplab.com
  - sso.ocplab.com
  - cockpit.ocplab.com
  - jellyfin.ocplab.com
  - ocplab.com
  - homeassistant.ocplab.com

- name: Start and enable haproxy service
  systemd:
    name: haproxy.service
    enabled: true
    state: started
  become: true
