title: OpenShift Lab
headerStyle: underlined
background:
  image: https://gexperts.com/img/homepage-bg.jpg
  brightness: 70
  opacity: 20

cardBlur: sm

color: slate

layout:
  Home:
    headerStyle: underlined
    columns: 4
  Hub:
    headerStyle: underlined
    columns: 4
  Infrastructure:
    headerStyle: underlined
    style: row
    columns: 3
  GitHub:
    headerStyle: underlined
  Red Hat:
    headerStyle: underlined
