title: OpenShift Lab
headerStyle: underlined

layout:
  Home:
    headerStyle: underlined
    columns: 4
  Hub:
    headerStyle: underlined
    columns: 4
  Infrastructure:
    headerStyle: underlined
    style: row
    columns: 3
  GitHub:
    headerStyle: underlined
  Red Hat:
    headerStyle: underlined
