- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: google
    target: _blank

- openmeteo:
    label: Langford
    latitude: 48.4496
    longitude: -123.5026
    timezone: America/Los_Angeles
    units: metric
    cache: 5
