#---------------------------------------------------------------------
# Configuration of HAProxy to front two openshift instances
#
#   http://www.haproxy.org/download/2.5/doc/configuration.txt
#
#---------------------------------------------------------------------


global
    maxconn     20000
    log         127.0.0.1 local0
    user        haproxy
    chroot      /usr/share/haproxy
    pidfile     /run/haproxy.pid
    daemon

defaults
    timeout connect 5s
    timeout client 1m
    timeout server 1m

#---------------------------------------------------------------------
# Proxys to the openshift api backend port 6443
#---------------------------------------------------------------------
frontend api_ssl
        bind :6443
        mode tcp
        option tcplog

        # Wait for a client hello for at most 5 seconds
        tcp-request inspect-delay 5s
        tcp-request content accept if { req_ssl_hello_type 1 }

        use_backend home_api_ssl if { req_ssl_sni -i api.home.ocplab.com }
        use_backend hub_api_ssl if { req_ssl_sni -i api.hub.ocplab.com }

        default_backend static

backend home_api_ssl
        mode tcp
        balance roundrobin
        server home_ssl_server 192.168.1.83:6443 check

backend hub_api_ssl
        mode tcp
        balance roundrobin
        server hub_ssl_server 192.168.1.217:6443 check

#---------------------------------------------------------------------
# Proxys to the openshift wildcard backend port 80
#---------------------------------------------------------------------
frontend wildcard_http
        bind :80
        mode http

        use_backend home_http if { hdr(host) -m end .apps.home.ocplab.com }
        use_backend hub_http if { hdr(host) -m end .apps.hub.ocplab.com }

        default_backend static

backend home_http
        mode http
        balance roundrobin
        server home_http_server 192.168.1.83:80 check

backend hub_http
        mode http
        balance roundrobin
        server hub_http_server 192.168.1.217:80 check

#---------------------------------------------------------------------
# Proxys to the openshift wildcard backend port 443
#---------------------------------------------------------------------
frontend wildcard_ssl
	bind :443
	mode tcp
	option tcplog

	# Wait for a client hello for at most 5 seconds
	tcp-request inspect-delay 5s
	tcp-request content accept if { req_ssl_hello_type 1 }

	use_backend home_ssl if { req_ssl_sni -m end .apps.home.ocplab.com }
	use_backend hub_ssl if { req_ssl_sni -m end .apps.hub.ocplab.com }
        use_backend sso_ssl if { req_ssl_sni -i sso.ocplab.com }

	default_backend static

backend home_ssl
	mode tcp
	balance roundrobin
	server home_ssl_server 192.168.1.83:443 check

backend hub_ssl
	mode tcp
	balance roundrobin
	server hub_ssl_server 192.168.1.217:443 check

backend static
    mode        http
    balance     roundrobin
    timeout     connect 5s
    timeout     server  5s
    server      static 127.0.0.1:4331 check

#---------------------------------------------------------------------
# Proxys to the sso server
#---------------------------------------------------------------------
backend sso_ssl
        mode tcp
        balance roundrobin
        server sso_ssl_server 192.168.1.2:8443 check
