[Unit]
Description=Dashy dashboard

[Service]
User=root
WorkingDirectory=/opt/upsnap
ExecStart=podman run -p 7080:80 -v /var/local/dashy/ocplab-conf.yml:/app/public/conf.yml --name ocplab --restart=always docker.io/lissy93/dashy:latest
Restart=always

[Install]
WantedBy=multi-user.target